# ─── Core Data ────────────────────────────────────────────────────────────────
pandas==2.2.2
numpy==1.26.4
 
# ─── Visualisation ────────────────────────────────────────────────────────────
matplotlib==3.8.4
seaborn==0.13.2
 
# ─── Jupyter ──────────────────────────────────────────────────────────────────
jupyter==1.0.0
notebook==7.2.0
ipykernel==6.29.4
 
# ─── Utilitaires ──────────────────────────────────────────────────────────────
python-dotenv==1.0.1